@{
    ViewData["Title"] = "Приём заказа";
}

<form style="margin: 0 auto; width:450px; text-align: center;">
    <h1>Форма приёма заказа</h1>
    <ul>
    <li><input name="CityOfSender" placeholder="Введите город отправления"/></li>
    <li><input name="AdressOfSender" placeholder="Введите адрес отправления"/></li>
    <li><input name="CityOfRecepient" placeholder="Введите город получателя"/></li>
    <li><input name="AdressOfRecepient" placeholder="Введите адрес получателя"/></li>
    <li><input name="GoodsWeight" placeholder="Введите вес груза"/></li>
    <li><input type=date name="DeliveryDate" placeholder="Введите дату забора груза"/></li>
    <button>Принять заказ</button>
    </ul>
</form>
